@font-face {
  font-family: "BankGothic";
  src: url(./assets/fonts/bankgothic-regular.woff);
}
@font-face {
  font-family: "Acumin Pro";
  src: url(./assets/fonts/Acumin-RPro.woff);
}
@font-face {
  font-family: "Acumin Pro Light";
  src: url(./assets/fonts/FontsFree-Net-Acumin-Pro-ExtraLight.woff);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--primary) !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  /* background: rgba(255, 255, 255, 0.3); */
  background: var(--secondaryLight) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

:root {
  --light: #f7f5f0;
  --dark: #191919;
  --primary: #0842f8;
  /* --primary: #0babeb; */
  --secondaryLight: #e7e7e7;
  --text: #5e5e5e;
  --secondary-text: #8f8f8f;
}

[data-theme="dark"] {
  --light: #191919;
  --dark: #f7f5f0;
  --secondaryLight: #212020;
  --text: #c2c2c2;
  --secondary-text: #575757;
}

body {
  font-family: "Acumin Pro", sans-serif;
  background-color: var(--light);
  color: var(--dark);
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "BankGothic", sans-serif;
  font-size: 9.5vw;
  /* white-space: nowrap; */
}

h2 {
  font-family: "BankGothic", sans-serif;
  font-size: 6vw;

}

h3 {
  font-size: 3vw;
  font-family: "BankGothic", sans-serif;
  /* font-family: "Acumin Pro Light", sans-serif; */
}

h4 {
  font-size: clamp(1rem, 2.2vw, 4rem);
  font-family: "Acumin Pro Light", sans-serif;
  color: var(--text);
}

h5 {
  font-size: 1.2rem;
  font-weight: 300;
}

h6 {
  font-family: "BankGothic", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

p,
span,
li {
  font-size: 0.8rem !important;
  margin-bottom: -3px;
}

.mb-15 {
  margin-bottom: 12vw;
}

.mb-5 {
  margin-bottom: 5vw;
}

.ball {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: var(--primary);
  color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

.ball-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--light);
  z-index: 999;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212020;
  /* color: white !important; */
  color: var(--primary);
  z-index: 999;
}

.preloader-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  height: 100vh;
  justify-content: space-between;
}

.preloader-bottom {
  text-align: right;
}

.navbar {
  position: relative;
  width: auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10vw;
}

.uppercase {
  text-transform: uppercase;
}

ul {
  display: flex;
  gap: 20px;
  padding: 0;
}
ul li {
  text-transform: uppercase;
  list-style: none;
}

a:hover {
  color: var(--primary);
  transition: all 0.2s ease;
}

.CTA {
  display: flex;
  justify-content: end;
  align-items: center;
}

.px {
  padding-left: 2vw;
  padding-right: 2vw;
}

.py {
  padding-top: 2vw;
  padding-bottom: 2vw;
}



.gap-50 {
  gap: 50px;
}

.menu-items {
  justify-content: center;
}

.logo {
  justify-content: start;
}

.logo img {
  width: 80px;
}

#theme-toggle {
  cursor: pointer;
  text-transform: uppercase;
  width: 6rem;
}

button {
  background-color: var(--primary);
  color: white;
  padding: 1.5vh 2vw;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0134db;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary p {
  color: var(--text);
  overflow: hidden;
}

.tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.hero-content-bottom video {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  background-color: var(--secondaryLight);
}

#dynamic-word {
  transition: opacity 0.5s ease;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 10px;
  cursor: pointer;
}

.menu-line {
  height: 2px;
  background-color: var(--dark);
  border-radius: 1px;
  transition: background-color 0.3s;
}

.menu {
  display: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.work-section {
  justify-content: center;
}

.work-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.set {
  position: relative;
  width: calc(50% - 5px);
  margin-bottom: 10px;
  z-index: 1;
  cursor: pointer;
  color: white !important;
  background-color: var(--secondaryLight);
}

.lazy-video,
.lazy-image {
  opacity: 0;
  background-color: var(--secondaryLight);
  transition: opacity 0.8s ease-in-out;
}
.lazy-video.is-loaded,
.lazy-image.is-loaded {
  opacity: 1;
  background-color: transparent;
}

.set video {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.radius {
  border-radius: 10px;
}

.work-details {
  position: absolute;
  padding: 10px;
  top: 0;
  opacity: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease;
}

.set:hover .work-details {
  opacity: 1;
  background-color: #19191981;
}

.work-heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.work-heading h4 {
  text-align: end;

  width: 50%;
}

.work-single video {
  width: 100%;
  height: 50vw;
  object-fit: cover;
}

.service-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card {
  max-width: 25%;
}

.card img {
  width: 100%;
  height: 35vw;
  object-fit: cover;
  background-color: var(--secondaryLight);
}

.footer-bottom {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left,
.footer-right {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.footer-left .number {
  font-size: 1rem !important;
}

.cta {
  height: 80vh;
  background-color: var(--secondaryLight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta h5,
.cta h2 {
  text-align: center;
}

.hero {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  /* align-items: center; */
}

.overflow-hidden {
  overflow: hidden;
}

.hero-image {
  height: 80vh;
  overflow: hidden;
}

.hero-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .parallax{
  background-image: url("https://lh3.google.com/u/0/d/15FTTIlMKGVnQnznQrVAMqGuBZjbFpUXa=w1920-h927-iv1");
  background-position: center;
  background-size: cover;
  
  height: 100%;
  width: 100%;
} */



.hero p {
  width: 15%;
}

.hero h2 {
  text-align: center;
}

.filter {
  display: flex;

  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.chip-button{
  display: flex;
  justify-content: center;
}

.chip-button .chip{
  border : 1px solid var(--primary);
  color : var(--primary);
  width: 20%;
  padding: 2vw 4vw;
}

.chip {
  border: 1px solid var(--dark);
  text-align: center;
  padding: 7px 15px 5px 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.chip:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: white;
}

#allProjects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#allProjects .project {
  width: calc(33.333% - 10px);
  margin-bottom: 50px;
  background-color: var(--secondaryLight);
  height: 50vh;
}

#allProjects .project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.line-wrapper {
  overflow: hidden;
}

.what-we-do{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.what-we-do h4{
  width: 70%;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  /* height: 50vh; */
  background-color: var(--secondaryLight);
}

.marquee-inner {
  display: flex;
  width: max-content;
  gap: 50px;
  animation: scroll 15s linear infinite;
}

.marquee-inner .image {
  height: 50vh; /* Set the height */
  width: auto; /* Let the image keep its natural width */
  object-fit: cover; /* Ensures the image maintains its aspect ratio */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.team-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap : 50px;
  height: 100vh;
}

.team-section-top{
  width: 100%;
  display: flex;
  justify-content: end;

}



.team-section-top h5{
  width: 350px;
}


.team-section-bottom{
  width: 100%;
  display: flex;
  gap: 20px;
}

.team{
  flex : 1;
  height: 60vh;
  overflow: hidden;
 
}

.team-card{
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color : white
}

.member1, .member2, .member3{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.member1{
  background-image: url("https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.member2{
  background-image: url("https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2 2x");
}
.member3{
  background-image: url("https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2 2x");
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 768px) {
  .menu-items,
  .CTA button {
    display: none;
  }

  .set {
    width: 100%;
  }
  .set video {
    height: 50vw;
  }

  .marquee-inner .image {
    height: 40vh;
  }
  .hero-content-bottom video {
    height: 50vh;
  }

  .menu {
    display: block;
  }

  .hero {
    height: 30vh;
    flex-direction: column;
    margin-top: 50px;

    align-items: start;
  }

  .hero h1 {
    font-size: 15vw;
  }

  .hero h5 {
    width: 100%;
  }
  .service-list {
    display: none;
  }

  .cta {
    height: 40vh;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 481px) {
  h6,
  h5 {
    font-size: 1rem;
  }

  h2 {
    font-size: 9vw;
  }

  .hero-section {
    height: 80vh;
  }

  .work-heading h4 {
    text-align: start;
    width: 100%;
    /* margin-bottom: 30px; */
  }

  .work-heading {
    display: flex;
    flex-direction: column;

    align-items: start;
  }

  .footer-left,
  .footer-right {
    flex-direction: column;
    align-items: start;
  }
}
