<div class="cta">
  <div class="cta-top mb-5">
    <h2>Have something in mind ?</h2>
    <h5>let's bring something creative to this world</h5>
  </div>
  <button>Hire us</button>
</div>
<div class="footer-bottom">
  <div class="footer-left">
    <p>info@albatross.com</p>
    <p class="number">9876543210</p>
  </div>
  <!-- <div class="footer-middle">
    <img src="./assets/images/AAA_For_Black.svg" alt="logo" width="80" />
  </div> -->
  <div class="footer-right">
    <p>@copyright</p>
    <p>privacy policy</p>
  </div>
</div>
