<header class="navbar px">
  <a href="/">
    <div class="logo">
      <img src="./assets/images/AAA_For_Black.svg" alt="albatross arts" />
    </div>
  </a>
  <div class="navbar-right">
    <div class="menu-items">
      <ul>
        <li><a href="./" data-barba-link>Home</a></li>
        <li><a href="./work.html" data-barba-link>Work</a></li>
        <li><a href="./about.html" data-barba-link>About</a></li>
      </ul>
    </div>
    <div class="CTA">
      <div id="theme-toggle"><span>Dark Mode</span></div>
      <button>Let's chat</button>

      <div class="menu">
        <div id="burger-menu" class="burger">
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
</header>



